<div class="container">
	<div class="header__inner">
			<a href="index.html"><img src="img/deltruck-logo.png" alt="DelTruck" class="header__logo"></a>
		<div class="header__wrapper">
			<div class="header__title">
				<h3>Рішення. Розвиток. Результат</h3>
				<p>Перевезення по Україні окремими автомобілями</p>
			</div>
			<!-- Hot line -->
			<div class="header__hot-line">
				<div class="hot-line">
					<div class="hot-line__icon">
						<a href="tel:067 628 26 30"><img src="img/icon/phone.png" alt="Phone Icon"></a>
					</div>
					<div class="hot-line__number">
						<h5 class="number__title">гаряча лінія</h5>
						<a href="tel:067 628 26 30" class="number__num">067 628 26 30</a>
					</div>
				</div>
				<p class="hot-line__alert">*Безкоштовно з усіх операторів України</p>
			</div>
		</div>
	</div>
</div>

<div class="header__nav">
	<div class="container">
		<nav class="nav" role="navigation">
			<ul class="nav__ul">
				<li class="nav__li">
					<a class="nav__title" href="index.html">Головна</a></li>
				<li class="nav__li">
					<p class="nav__title">Послуги</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="transit.html">Перевезення</a></li>
						<li class="drop__li"><a href="additional-services.html">Додаткові послуги</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Компанія</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="about-company.html">Про компанію</a></li>
						<li class="drop__li"><a href="news.html">Новини</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Клієнтам</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="tariff.html">Тарифи</a></li>
						<li class="drop__li"><a href="documentation.html">Документація</a></li>
						<li class="drop__li"><a href="action.html">Акції</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<a class="nav__title" href="car-order.html">Замовлення авто</a>
				</li>

				<li class="nav__li nav__li--long">
					<a class="nav__title" href="flight-search.html">Пошук рейсу
					<div class="new"><p>new</p></div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
