/*-------------------------------------------------------------

	MASTER STYLESHEET

    Project:        PORTFOLIO NEW START
    Version:        1.0
    Author:         Anton Shaposhnikov
    Website:        https://666hesoyam.github.io/portfolio/

--------------------------------------------------------------*/

// Custom
// ============================================================

@import 'mixins'; // Mixins
@import 'variables'; // Variables



html {
	overflow-x: hidden;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	font-family: 'Montserrat', sans-serif;
	color: inherit;
	outline: 0;
	text-decoration: none;
}

a:focus, a:hover, a:active {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #515769;
	line-height: 1.4;
	margin: 0;
}

:active,
:focus {outline: none;}

::selection {
	background-color: #AC24FF;
}

// ===========//
// MAIN STYLE //
// ===========//

.main {
	width: 100%;
	height: 100vh;
	background-color: #000;
	display: flex;
	position: relative;
}


// second section
.portfolio {
	background: url(../img/portfolio-bg-compress.jpg);
	width: 100%;
	height: 100vh;

	display: flex;
    justify-content: flex-end;
    align-items: center;
	position: relative;
    overflow: hidden;
}

// second section
.right-side__about {
	background: url(../img/main-bg-compress.jpg);
	width: 100%;
	height: 100vh;
}


// ===========
// aside 
// ===========

.aside {
    width: 37%;
	background-color: #121212;
	background: url(../img/aside-bg.jpg);
	&__container {
		height: 100vh;
		padding-top: 11vh;
	}
}

.aside__title {
	.title__name {
		font-family: 'ObjectSans-HeavySlanted';
		font-size: 3.5vh;
		line-height: 3.6vh;
		text-align: center;
		text-transform: uppercase;
		color: #AC24FF;
		&--white {
			color: #fff;
		}
	}
	.title__specialte {
		font-family: 'ObjectSans-Regular';
		font-weight: normal;
		font-size: 1.4vh;
		line-height: 2vh;
		text-align: center;
		text-transform: lowercase;
		color: #FFFFFF;
		margin-top: 4.6vh;
	}
	
}

// NAVIGATION
.aside__nav {
	text-align: center;
    margin-top: 6.5vh;
    position: relative;
    height: 77%;
    overflow: hidden;
	background: url(../img/my-main-photo.png) no-repeat right bottom;
	background-size: contain;
	&--without-photo {
		background: none;
	}
	.nav__link {
		text-transform: uppercase;
		font-family: 'ObjectSans-HeavySlanted';
		font-size: 2vh;
		line-height: 7vh;
		margin-top: 4.4vh;
		color: #fff;
		&:hover {
			color: #AC24FF;
		}
	}
	.nav__link--purple {
		color: #AC24FF;
	}
}

// Socials Links
.nav__socials {
	display: flex;
    flex-flow: column;
	margin-top: 3vh;
	& a {
		margin: 0 auto 2vh auto;
		width: 5vh;
		height: 5vh;
	}
	.socials__icon {
		width: 5vh;
		height: 5vh;
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}


//=======================//
// 			HOME		//
//=====================//

.home, .about, .experience {
	background: url(../img/main-bg-compress.jpg);
	width: 100%;
	display: flex;
    justify-content: flex-end;
    align-items: center;
	position: relative;
    overflow: hidden;
	&__container {
		padding: 0 4.4vh 0 0;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.vertical-title {
	transform: rotate(270deg);
	position: absolute;
	top: 49vh;
    left: -54vh;
	&__text {
		display: flex;
		flex-wrap: no-wrap;
		justify-content: space-between;
		color: #fff;
		opacity: .2;
		font-weight: 250;
		font-size: 1.4vh;
		line-height: 1.7vh;
		text-align: center;
		letter-spacing: 0.07em;
		text-transform: lowercase;
		p {
			width: 16vh;
		}
	}
	&__text--large {
		p {
			width: 19.5vh;
		}
	}
}


// HOME Animations

.home__heading--websites, .home__heading--animations, .home__heading--banners, .home__heading--landing {
	position: relative;
	margin-bottom: 4vh;
}

.home__heading--landing {
	margin-bottom: 0;
}

.heading__websites, .heading__animations, .heading__banners, .heading__landing {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 13.6vh;
	line-height: 12vh;
	text-transform: uppercase;
	text-align: right;
	color: #141312;
	position: relative;
	z-index: 10;
	padding: 4vh 0;
	max-width: max-content;
    margin: 0 0 0 auto;
}


.heading__websites:hover, .heading__animations:hover, .heading__banners:hover, .heading__landing:hover {
	cursor: pointer;
	color: transparent;
	-webkit-text-fill-color: transparent;
	transition: 2s linear;
}

.heading__websites:hover + .heading__websites--second, .heading__animations:hover + .heading__animations--second, .heading__banners:hover + .heading__banners--second, .heading__landing:hover + .heading__landing--second {
	display: block;
}

.heading__websites--second, .heading__websites--three, .heading__websites--four, .heading__websites--five, .heading__animations--second, .heading__animations--three, .heading__animations--four, .heading__animations--five, .heading__banners--second, .heading__banners--three, .heading__banners--four, .heading__banners--five, .heading__landing--second, .heading__landing--three, .heading__landing--four, .heading__landing--five {
	position: absolute;
	opacity: 1;
	z-index: 9;
	top: 0.5vh;
    right: -0.5vh;
	display: none;

	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 13.6vh;
	text-transform: uppercase;
	text-align: right;
	color: transparent;
	-webkit-text-stroke: 3px #AC24FF;
	-webkit-text-fill-color: transparent;
}

.heading__websites--three, .heading__animations--three, .heading__banners--three, .heading__landing--three {
	opacity: .7;
	z-index: 8;
	top: 0.8vh;
    right: -0.9vh;
	-webkit-text-stroke: 2px #AC24FF;
}

.heading__websites:hover ~ .heading__websites--three, .heading__animations:hover ~ .heading__animations--three, .heading__banners:hover ~ .heading__banners--three, .heading__landing:hover ~ .heading__landing--three {
	display: block;
}

.heading__websites--four, .heading__animations--four, .heading__banners--four, .heading__landing--four {
	opacity: .4;
	z-index: 7;
	top: 1.2vh;
    right: -1.2vh;
	-webkit-text-stroke: 2px #AC24FF;
}

.heading__websites:hover ~ .heading__websites--four, .heading__animations:hover ~ .heading__animations--four, .heading__banners:hover ~ .heading__banners--four, .heading__landing:hover ~ .heading__landing--four {
	display: block;
}

.heading__websites--five, .heading__animations--five, .heading__banners--five, .heading__landing--five {
	opacity: .2;
    z-index: 6;
    top: 1.6vh;
    right: -1.5vh;
	-webkit-text-stroke: 2px #AC24FF;
}

.heading__websites--five {
    top: 1.5vh;
    right: -1.4vh;
}

.heading__websites:hover ~ .heading__websites--five, .heading__animations:hover ~ .heading__animations--five, .heading__banners:hover ~ .heading__banners--five, .heading__landing:hover ~ .heading__landing--five {
	display: block;
}

.tabs { 
	width: 90%;
    height: 77vh;
	margin: 5vh auto 0 auto;
	background: transparent;
	position: relative;
	display: flex;
	justify-content: center;
	&__li {
		display: inline-flex;
		justify-content: center;
		width: 37vh;
		height: fit-content;
	}
	&__input[type="radio"] {
		position: absolute;
		top: 0;
		left: -9999px;
	}
	&__label {
		font-family: 'ObjectSans-HeavySlanted';
		font-size: 2vh;
		line-height: 2.1vh;
		text-transform: uppercase;
		text-align: center;
		font-style: italic;
		font-weight: 800;
		color: #141312;

		display: block;
		padding: 1.4vh 2.1vh;
		background: transparent;
		position: relative;
		top: -3.6vh;
		transition: .3s width ease-in-out; 
		&:hover {
			cursor: pointer;
			&::before {
				content: " ";
				position: absolute;
				bottom: 0;
				left: 30%;
				width: 12vh;
				height: 0.2vh;
				background-color: #fff;
				box-shadow: 0px 0px 8px 1px rgba(172,36,255,0.9), 0px 0px 50px 4px rgba(172,36,255,0.9);
			}
		}
	}
	.tab-content{
		z-index: 2;
		visibility: hidden;
		height: 0;
		width: 100%;
		font-size: 1.7vh;
		line-height: 2.5vh;
		padding: 0 0.5vh 0.5vh 0.5vh;  
		position: absolute;
		top: 5.3vh;
		left: 0; 
	}
	//The Magic
	[id^="tab"]:checked + .tabs__label { 
		color: #AC24FF;
		background-color: transparent;
		
	}
	[id^="tab"]:checked ~ [id^="tab-content"] {
		visibility: visible;
		height: auto;
	}
}

.slider, .slider-two  {
	position: relative;
	&__item {
		margin-bottom: 3vh;
		margin-right: 3vh;
		width: 51.0185vh !important;
		height: 27.4074vh !important;
		display: inline-flex !important;
		align-items: center;
		justify-content: center;
		background-color: #141312;
		overflow: hidden;
		&:hover {
			cursor: pointer;
			opacity: .7;
		}
	}
	&__img { 
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.slider {
	&__item {
		background-color: transparent;
	}
	&__img { 
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.slick-initialized .slick-slide {
    text-align: center;
}

// Slider arrow button
.prev, .next {
	width: 12vh;
	height: 12vh;
	position: absolute !important;
	top: 25.5vh;
	cursor: pointer;
	z-index: 999;
}

.prev {
	left: -8vh;
}

.next {
    right: -8vh;
}

.prev:hover, .next:hover {
	opacity: .6;
	transition: all .2s linear;
}

.home__heading--websites {
	position: relative;
	margin-bottom: 4vh;
}

.about {
	&__container {
		padding: 0;
		justify-content: start;
		position: relative;
	}
	.vertical-title {
		left: -47vh;
	}
	&__heading {
		font-weight: 900;
		font-size: 13.7vh;
		line-height: 12vh;
		text-transform: uppercase;
		color: #141312;
		padding: 9vh 0 3.5vh 0;
		margin: 0 7vh 0 auto;
	}
	&__info {
		max-width: 68vh;
		margin-left: 13vh;
		z-index: 2;
		p {
			color: #FFFFFF;
			font-size: 1.4vh;
			line-height: 3.7vh;
		}
		&__sub-title {
			color: #AC24FF;
			opacity: .8;
			font-size: 1.7vh;
		}
	}
	&__photo {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url(../img/about-photo.png) no-repeat right bottom;
		background-size: contain;
		z-index: 1;
	}
	&__neon-line {
		width: 100%;
		height: 100%;
		position: relative;
	}
}

.neon-line__item {
	position: absolute;
	top: 12vh;
	right: 20vh;
	width: 18.7963vh;
	height: 13.7963vh;

    animation-name: neon-line;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.neon-line__item--two {
	top: 40vh;
	right: 36vh;
	width: 12.7778vh;
	height: 11.2037vh;

	animation-name: neon-line-two;
    animation-duration: 4s;
}

.neon-line__item--three {
	top: 51vh;
	right: 16vh;
	width: 9.3519vh;
	height: 10.463vh;

	animation-name: neon-line-three;
    animation-duration: 4s;
}

.neon-line__item--four {
	top: 66vh;
	right: 20vh;
	width: 17.7778vh;
	height: 15.2778vh;
	animation-name: neon-line-four;
}

@keyframes neon-line {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(-5px, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes neon-line-two {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(-5px, 20px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes neon-line-three {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(10px, 20px); }
    to   { transform: translate(-0px, -0px); }    
}

@keyframes neon-line-four {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(10px, 15px); }
    to   { transform: translate(-0px, -0px); }    
}


.experience  {
	background: url("../img/portfolio-bg-compress.jpg");
	position: relative;
	.vertical-title {
		left: -57vh;
		.vertical-title__text--extra-large {
			color: #000;
			opacity: .7;
			p {
				width: 23.5vh;
			}
		}
	}
	&__container {
		padding: 0;
		justify-content: start;
	}
	&__heading {
		font-weight: 900;
		font-size: 13.7vh;
		line-height: 12vh;
		text-transform: uppercase;
		color: rgba(20, 19, 18, 0.1);
		padding: 9vh 0 3.5vh 0;
		margin: 0 7vh 0 auto;
	}
	&__info {
		max-width: 80vh;
		margin-left: 13vh;
		z-index: 2;
		p {
			color: #000;
			font-size: 1.4vh;
			line-height: 3.7vh;
		}
		a {
			color: #AC24FF;
		}
	}
	&__btn {
		width: 20.463vh;
		height: 4.4444vh;
		border: 3px solid #AC24FF;
		margin-top: 4.1667vh;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
		&:hover {
			background-color: #AC24FF;
		}
		&:hover a {
			color: #fff;
		}
	}
}



.experience__project {
		max-width: 85%;
		margin-left: 13vh;
		margin-top: 10vh;

		display: flex;
		justify-content: space-between;
	.project {
		z-index: 2;
		&__num {
			h1 {
				font-family: 'Montserrat', sans-serif;
				font-weight: 900;
				font-size: 12.6852vh;
				line-height: 15.463vh;
				text-transform: uppercase;
				color: transparent;
				-webkit-text-stroke: 3px #AC24FF;
			}
		}
		&__title {
			h2 {
				font-family: 'ObjectSans-HeavySlanted';
				font-style: italic;
				font-weight: 802;
				font-size: 1.8519vh;
				line-height: 1.9444vh;
				text-transform: uppercase;
				color: rgba(20, 19, 18, 0.1);

			}
		}
	}
}



.parallax__wrap {
    position: absolute;
	width: 100%;
	height: 100%;
	.parallax {
		position: absolute;
	}

	#scene {
		z-index: 100;
		top: 13vh;
		right: 6vh;
	}

	#crowd-first {
		z-index: 200;
		top: 32vh;
		right: 3vh;
	}

	#crowd-second {
		z-index: 300;
		top: 44vh;
		right: 14vh;
	}
}

